@import "tailwindcss";

@theme {
  --color-bg: #1e2230;
  --color-surface: #2a2f44;
  --color-text: #e0e0e0;
  --color-muted: #a0a0b0;

  --color-primary: #8f6fff;
  --color-accent: #3b4b68;
  --color-success: #4f6b3a;
  --color-danger: #8b2e2e;
  --color-glow: #8f6fff;
  --color-parchment: #f1e6c8;
}
