@import "tailwindcss";

@theme {
  /* Colores principales */
  --color-bg: #0b0a08;
  --color-surface: #1c1a15;
  --color-text: #e9e0c5;
  --color-muted: #b6ac8f;

  --color-primary: #c8a45d;
  --color-accent: #3b5e7a;
  --color-success: #4f6b3a;
  --color-danger: #8b2e2e;
  --color-glow: #d4af37;
  --color-parchment: #f1e6c8;
}
